.bg{
  background: url(https://img.freepik.com/free-vector/vintage-rectangle-fish-frame_53876-113020.jpg?t=st=1711745709~exp=1711749309~hmac=277598ba164c5c10efe762e54f7479632770e0e46445837768c606f792507e4b&w=1060);
  background-size: cover;
  background-position:  100%;
}